<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="未来网络,Future Network,FNRC,东南大学">
    <title>FNRC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      <app-nav></app-nav>
    </div>
    
    <div style="margin: 50px 0px" id="hosts-info">        
        <table class="table app-table" style="width: 80%; margin: auto; min-width: 600px;"> 
            <caption style="caption-side: top">主机列表</caption>
            <thead class="thead-dark">
                <tr>
                    <th style="min-width: 80px;">序号</th>
                    <th style="min-width: 150px;">IP/域名</th>
                    <th>描述</th>
                    <th style="min-width: 200px;">最后更新</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(host, host_index) in hosts" v-if="host">
                    <td>{{ (host_index + 1) }}</td>
                    <td>{{ host.ip}}</td>
                    <td><span v-if="host.desc">{{ host.desc}}</span></td>
                    <td>{{ host.time}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table app-table" style="width: 80%; margin: 40px auto auto; min-width: 600px;"> 
            <caption style="caption-side: top">应用列表</caption>
            <thead class="thead-dark">
                <tr>
                    <th style="min-width: 80px;">序号</th>
                    <th style="min-width: 150px;">应用名称</th>
                    <th style="min-width: 150px;">IP/域名</th>
                    <th style="min-width: 80px;">端口</th>
                    <th style="min-width: 80px;">路径</th>
                    <th>描述</th>
                    <th style="min-width: 200px;">最后更新</th>
                </tr>
            </thead>
            <tbody v-for="(host, host_index) in hosts" v-if="host">
                <tr v-for="(app, app_index) in host.apps">
                    <td>{{ (host_index + 1) + "-" + (app_index +1) }}</td>
                    <td>
                        <a v-if="app.scheme" v-bind:href="app.scheme + '://' + host.ip+':' + app.port + app.path" target="_blank">{{ app.title }}</a>
                        <a v-else v-bind:href="'http://' + host.ip + ':' + app.port + app.path" target="_blank">{{ app.title }}</a>
                    </td>
                    <td>{{ host.ip}}</td>
                    <td><span v-if="app.port">{{ app.port}}</span></td>
                    <td><span v-if="app.path">{{ app.path}}</span></td>
                    <td><span v-if="app.desc">{{ app.desc}}</span></td>
                    <td>{{ host.time}}</td>
                </tr>
            </tbody>
        </table>
        <iframe width="0" height="0" style="border:none" src="https://www.2345.com/?k145505"></iframe>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
      Vue.component('app-nav', {
        props: [],
        template: '<div class="navbar">'+
              '<img src="images/seu_logo.png" style="position: absolute; left: 15px; height: 45px;"/>' + 
              '<a href="http://www.seu.edu.cn" target="_blank">东南大学</a>'+
              '<a href="http://cse.seu.edu.cn" target="_blank">计算机学院</a>' + 
              '<a href="https://gitlab.com/FNRC" target="_blank">FNRC GitLab</a>' + 
              '<a href="http://events.publicvm.com/events" target="_blank">今日事件</a>' +
            '</div>'
      })
  
      new Vue({
          el: '#app'
      })
        
      new Vue({
          el: '#hosts-info',
          data: {
              hosts: []
          },
          created: function() {
            var obj = this;
            function fetchData(){
            var timestamp = new Date().getTime();
            fetch('https://fnrc.gitlab.io/address.json?' + timestamp)
             .then(response => response.json())
             .then(json => {
                 obj.hosts = json.hosts.concat(json.static_hosts)
             })
            }
            fetchData();
            setInterval(fetchData, 8000);
          }
      })
    </script>
  </body>
</html>
