/**
 * ┌───┐   ┌───┬───┬───┬───┐ ┌───┬───┬───┬───┐ ┌───┬───┬───┬───┐ ┌───┬───┬───┐
 * │Esc│   │ F1│ F2│ F3│ F4│ │ F5│ F6│ F7│ F8│ │ F9│F10│F11│F12│ │P/S│S L│P/B│  ┌┐    ┌┐    ┌┐
 * └───┘   └───┴───┴───┴───┘ └───┴───┴───┴───┘ └───┴───┴───┴───┘ └───┴───┴───┘  └┘    └┘    └┘
 * ┌───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───────┐ ┌───┬───┬───┐ ┌───┬───┬───┬───┐
 * │~ `│! 1│@ 2│# 3│$ 4│% 5│^ 6│& 7│* 8│( 9│) 0│_ -│+ =│ BacSp │ │Ins│Hom│PUp│ │N L│ / │ * │ - │
 * ├───┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─────┤ ├───┼───┼───┤ ├───┼───┼───┼───┤
 * │ Tab │ Q │ W │ E │ R │ T │ Y │ U │ I │ O │ P │{ [│} ]│ | \ │ │Del│End│PDn│ │ 7 │ 8 │ 9 │   │
 * ├─────┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴─────┤ └───┴───┴───┘ ├───┼───┼───┤ + │
 * │ Caps │ A │ S │ D │ F │ G │ H │ J │ K │ L │: ;│" '│ Enter  │               │ 4 │ 5 │ 6 │   │
 * ├──────┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴────────┤     ┌───┐     ├───┼───┼───┼───┤
 * │ Shift  │ Z │ X │ C │ V │ B │ N │ M │< ,│> .│? /│  Shift   │     │ ↑ │     │ 1 │ 2 │ 3 │   │
 * ├─────┬──┴─┬─┴──┬┴───┴───┴───┴───┴───┴──┬┴───┼───┴┬────┬────┤ ┌───┼───┼───┐ ├───┴───┼───┤ E││
 * │ Ctrl│    │Alt │         Space         │ Alt│    │    │Ctrl│ │ ← │ ↓ │ → │ │   0   │ . │←─┘│
 * └─────┴────┴────┴───────────────────────┴────┴────┴────┴────┘ └───┴───┴───┘ └───────┴───┴───┘
 */

* {
    margin: 0;
    padding: 0;
}

li, a {
    display: inline;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100%;
    height: 100%;
}

/* ************************************************************** */

.top-nav-box {
    height: 65px;
    border-bottom: 1px solid #999;
}

.top-nav-container {
    width: 1200px;
    height: 65px;
    margin: 0 auto;
    /* background-color: rgba(212, 157, 157, 0.4); */
}

/* *************************************************************** */

.content-box {
    /* background-color: rgba(178, 218, 162, 0.4); */
}

.content-container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    /* background-color: rgba(165, 157, 212, 0.4); */
}

.main-content-box, .side-content-box {
    float: left;
}

.main-content-box {
    width: 65%;
    height: auto;
    /* background-color: rgba(178, 218, 162, 0.4); */
    box-sizing: border-box;
    padding-right: 20px;
}

.side-content-box {
    width: 35%;
    position: relative;
    /* background-color: rgba(165, 157, 212, 0.4); */
}

.left-fix-box {
    width: 50px;
    height: 200px;
    left: -55px;
    top: 350px;
    position: absolute;
    background-color: rgba(109, 173, 123, 0.815);
}

.right-fix-box {
    width: 50px;
    height: 100px;
    left: 1205px;
    top: 500px;
    position: absolute;
    /* background-color: rgba(161, 108, 57, 0.815); */
}

/* *************************************************************** */

.copyright-box {
    width: 1200px; 
    height: 100px;
    margin: 0 auto;
    /* background-color: rgba(144, 206, 177, 0.4); */
    margin-top: 40px;
}

/* *************************************************************** */